{%extends 'base.html' %}
{% load staticfiles %}

{% block header %}
    <link href="{% static 'noticias/css/style.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{%block content%}




    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-12">
                <div class="text-right row">
                    <a href="{% url 'noticias:nueva_noticia'%}" class="btn btn-sm btn-success text-right"><span class="fa fa-plus"></span> Nueva Noticia</a>
                </div>
                <h6 class="description">Noticias</h6>
                <div class="row pt-md">
                    {% if noticias %}
                        <div class="col-xs-12  col-sm-12 ">

                                {% for noticia in noticias %}
                                    <div class="col-lg-4 col-sm-4">
                                        <div class="row">
                                            <h4 class="text-justify"><b>{{ noticia.titulo }}</b></h4>
                                        </div>
                                        {% for imagen in noticia.imagenes.all %}
                                        <img src="{{ imagen.imagen.url }}" class="img-responsive img-clip-not">
                                    {% endfor %}
                                    <h5 class="text-justify"><b>{{ noticia.subtitulo }}</b></h5>
                                        <p class="text-justify">{{ noticia.entrada }}</p><a href="{% url 'noticias:ver_noticia' noticia.id %}">Leer Mas</a> <br>
                                    <a class="btn btn-success" role="button" href="{% url 'noticias:editar_noticia' noticia.id %}">Editar</a> <a class="btn btn-danger" role="button" href="{% url 'noticias:eliminar_noticia' noticia.id %}">Eliminar</a>
                                    </div>
                                {% endfor %}

                        </div>
                    {% else %}
                        <p>No hay Noticias </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{%endblock%}